<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="!city"><em>Cargando...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Nombre de la ciudad">
    </mat-form-field>
    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitud:</mat-label>
      <input matInput formControlName="lat" required
             placeholder="Insertar latitud">
    </mat-form-field>
    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitud:</mat-label>
      <input matInput formControlName="lon" required
             placeholder="Insertar longitud">
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary"
              type="submit">
        Guardar
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/cities']">
        Cancelar
      </button>
    </div>
  </form>
</div>
