<div class="city-edit">
  <h1>{{title}}</h1>
  <p *ngIf="this.id && !city"><em>Cargando...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Nombre:</mat-label>
      <input matInput formControlName="name" required
             placeholder="Nombre de la ciudad">
      <mat-error *ngFor="let error of getErrors(form.get('name')!,'Nombre')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Lat -->
    <mat-form-field>
      <mat-label>Latitud:</mat-label>
      <input matInput formControlName="lat" required
             placeholder="Insertar latitud">
      <mat-error *ngFor="let error of getErrors(form.get('lat')!,'Latitud')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Lon -->
    <mat-form-field>
      <mat-label>Longitud:</mat-label>
      <input matInput formControlName="lon" required
             placeholder="Insertar longitud">
      <mat-error *ngFor="let error of getErrors(form.get('lon')!,'Longitud')">
        {{error}}
      </mat-error>
    </mat-form-field>

    <!-- Countries-->
    <mat-form-field *ngIf="countries | async as result">
      <mat-label>Selecciona un país...</mat-label>
      <mat-select id="countryId" formControlName="countryId">
        <mat-option *ngFor="let country of result" [value]="country.id">
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="this.form.controls['countryId'].errors?.['required']">
        Por favor, selecciona un país.
      </mat-error>
    </mat-form-field>

    <p>
      <mat-error *ngIf="form.invalid && form.hasError('isDupeCity')">
        <strong>ERROR</strong>:
        Ya existe una ciudad con las mismas características.
      </mat-error>
    </p>

    <div>
      <button mat-flat-button color="primary"
              type="submit" [disabled]="!form.valid">
        {{ this.id ? "Guardar" : "Crear" }}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/cities']">
        Cancelar
      </button>
    </div>
  </form>
</div>

<!-- Form debug info panel -->
<div class="info">
  <div class="info-header">Form Debug Info</div>
  <div class="info-body">
    <div class="info-label">
      Form Value:
    </div>
    <div class="info-value">
      {{ form.value | json }}
    </div>
    <hr />
    <div class="info-label">
      Form Status:
    </div>
    <div class="info-value">
      {{ form.status | json }}
    </div>
  </div>
</div>

<!-- Form activity log panel -->
<div class="info">
  <div class="info-header">Form Activity Log</div>
  <div class="info-body">
    <div class="info-value">
      <span *ngIf="activityLog"
            [innerHTML]="activityLog">
      </span>
    </div>
  </div>
</div>
